.groupsBox {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 80px);
    gap: 10px;
    padding: 10px;
    background: #D9DBD5;
}

.groupsListBox {
    flex: 0 0 350px;
    overflow-y: auto;
}

.groupInteractionBox {
    flex: 1;
    overflow-y: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
